{% extends "nice_base.html" %}

{% block content %}

<h1>Nandia's Garden</h1>
<h2>Order a Pizza</h2>

<form action="{% url 'order' %}" method="post">
    {% csrf_token %}

    <label for="topping1">Toping 1: </label>
    <input type="text" name="topping1" id="topping1">

    <label for="topping2">Toping 2: </label>
    <input type="text" name="topping2" id="topping2">

    <label for="size">Size: </label>
    <select name="size" id="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>

    <input type="submit" value="Order Pizza">
</form>


{% endblock %}